<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full">
    <div class="mb-2 sm:mb-0 inner">
      <a href="/" class="text-2xl no-underline text-grey-darkest
      hover:text-blue-dark font-serif font-bold">Jared C. Miller</a><br>
      <span class="text-sm font-sans text-grey-dark">A classics student at
      Trinity College Dublin.</span>
    </div>
  
    <div class="sm:mb-0 self-center">
        <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Education</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Experience</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6">Something</a>
    </div>
  </nav>